.carousel {
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-height: 19rem;
}
.carousel__viewport {
  overflow: hidden;
}
.carousel__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.carousel__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
 
  position: relative;
}
