@tailwind base;
@tailwind components;
@tailwind utilities;

#tabbb {
  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for WebKit (Chrome, Safari) */
  -webkit-scrollbar {
    display: none;
  }
}

/* For WebKit (Chrome, Safari) */
#tabbb::-webkit-scrollbar {
  width: 12px; /* You can adjust the width as needed */
  display: none;
}

#tabbb::-webkit-scrollbar-thumb {
  background-color: transparent;
  width: 0px;
  display: none;
}

#tabbb::-webkit-scrollbar-track {
  background-color: transparent;
  width: 0px;
  display: none;
}
